# Secrets / keys
*.pem
*.key
*.p12
*.pfx
.env
.env.*

# IDE
.vs/
.vscode/
.idea/

# SAM Build / artifacts
*.zip
.aws-sam/
function/
sam_build_debug.log

# Local outputs / scratch
response*.json
event.json

# OS junk
.DS_Store
Thumbs.db
